@page "/dashboard"
<h3>Dashboard</h3>

<p>Klicka på knappen nedan för att gå till kundens sida!</p>
<NavLink class="btn btn-secondary mt-3" href="/customer/1">
    Gå till kundens sida
</NavLink>

@code {

}
