@page "/"

<PageTitle>Home</PageTitle>

<section class="hero-container">
    <div class="hero-content">
        <img src="/images/hero.jpg" class="hero-img">
    </div>
</section>

@* <section id="greeting" class="container">
    <h2>Hello Admin! The next Scottish bank holiday is <strong>{holiday}</strong> on <strong>{date}</strong></h2>
</section>
 *@
@* <section id="transactions" class="container">
    <h2>Account Transactions</h2>
    <div class="account">
        <p><strong>Account Number:</strong> 123456789</p>
        <p><strong>Balance:</strong> $5,000</p>
    </div>
    <button>Deposit</button>
    <button>Withdraw</button>
    <button>Transfer</button>
</section> *@
