**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.git/
**/.gitignore
**/.gitattributes
**/*.user
**/*.suo
**/*.cache
**/*.log
**/TestResults/
**/node_modules/
**/Dockerfile*
**/docker-compose*.yml
!docker-compose.yml
!**/Dockerfile
!BankBlazor.Client/nginx/default.conf
