<header>
    <NavLink href="/" class="logo">
            <img src="images/logo.png" alt="Bank Blazor Logo">
            <h1 class="header-text">Bank Blazor</h1>
    </NavLink>
    <nav>
        <ul class="nav-items">
            <li><a href="#home">Home</a></li>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#transactions">Transactions</a></li>
        </ul>
    </nav>
</header>

