<header class="main-header"> 
    <NavLink href="/" class="logo">
            <img src="images/logo.png" alt="Bank Blazor Logo">
            <h1 class="header-text">Bank Blazor</h1>
    </NavLink>
    <nav>
        <ul class="nav-items">
            @* <li><a href="#home">Home</a></li>
            <li><NavLink href="/dashboard">Dashboard</NavLink></li>
            <li><NavLink href="/">Transactions</NavLink></li> *@

            <li><NavLink href="/">Home</NavLink></li>
            <li><NavLink href="/dashboard">Dashboard</NavLink></li>
            <li><NavLink href="/customer/1">Customer</NavLink></li>
            <li><NavLink href="/accounts">Accounts</NavLink></li>
            <li><NavLink href="/transactions">Transactions</NavLink></li>
            <li><NavLink href="/deposit">Deposit</NavLink></li>
            <li><NavLink href="/withdraw">Withdraw</NavLink></li>
            <li><NavLink href="/transfer">Transfer</NavLink></li>
        </ul>
    </nav>
</header>

